:root {
	/* Global Variables */
	--bg-base: hsl(0, 0%, 6%); 
	--bg-page: hsl(0, 0%, 0%); 
	--bg-box: hsl(0, 0%, 2%);

	--border:  hsl(0, 0%, 25%);
	
	--header-button: hsl(0, 0%, 5%);
	
	--sidebar-active: hsl(0, 0%, 10%);

	/* Text Variables */
	--text-active:	 hsl(0, 0%, 95%);
	--text-inactive: hsl(0, 0%, 50%);
	--text-hover:    hsl(0, 0%, 75%);


	/* Colored Variables */
	--color-primary: hsl(145, 100%, 60%); /* primary */
	--color-warning: hsl(45, 100%, 60%); /* orange  */
	--color-error:	 hsl(356, 100%, 60%);  /* red     */
}


:root {
	color: var(--text-inactive);
}

*::selection { background: transparent; } 
