@import "./palette.css";


.nav-title {
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	space-between: 1;
	font-size: 2.5rem;
	color: var(--font-title);

}

.collapse-icon {
	margin-left: auto;
	margin-right: 20px;
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(113%) contrast(116%);
}

.nav-button-group {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
	gap: 0.5rem;

}
.nav-button {
	transition: 0.2s;
	background-color: var(--bg-sidebar-button);
	border-radius: 8px;

	display: flex;
	align-items: center;
	height: 2.75rem;
	gap:0.5rem;
}

.nav-button.dropbtn {
	display: inline-flex; 
    width: 100%; 
    position: relative; 
    cursor: pointer;
	margin-right:auto;
}
/* button hover */
.nav-button:hover > .nav-text {
	color: var(--sidebar-button-hover);
}

.nav-button:hover {
	background-color: var(--bg-sidebar-button-hover);
}


/* line seperator */
.nav-line {
	padding-top: 2rem;
	padding-bottom: 2rem;
		
	margin: 0 20px 0 20px;
}
.nav-line hr {
	color: var(--border);
}

/* Active Button */
.router-link-exact-active {
	background-color: var(--bg-sidebar-button-active);
	color: var(--text-active);
	pointer-events: none;
	font-weight: bold;
}

/* Active dropdown Button */
.dropdown-content > .router-link-exact-active:last-child {
	transition: 0s;
	border-radius: 0 0 8px 8px;

}

.dropdown-content > .router-link-exact-active {
	border-left: 1px solid var(--text-active);
}

.router-link-exact-active img {
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(180deg) brightness(113%) contrast(101%);
} 

/* Sidebar icon */
.nav-icon {
	max-height: 16px;
	margin-left: 13px;
	margin-top:auto;
	margin-bottom: auto;
	filter: invert(80%) sepia(19%) saturate(22%) hue-rotate(316deg) brightness(91%) contrast(95%);
}
