@import "tailwindcss";
@import "./palette.css";
@import "./sidebar.css";
@import "./sliderbutton.css";

.base {
	background-color: var(--bg-base);

	display: flex;
	overflow: hidden;

	width: 100vw;
	height: 100vh;
}

.sidebar {
	background-color:var(--bg-sidebar); 

	flex: 0 0 15rem;
	height: 100vh;

	display: flex;

	flex-direction: column;

}

.sidebar > *:last-child {
	margin-top: auto;	
	margin-bottom: 1.5rem;
}

.contents {
	background-color: var(--bg-page);
	margin:16px;
	display: block;
	flex: 1;
	
	border: 1px solid var(--border);
	border-radius: 1rem ;

	overflow: auto;
	-ms-overflow-style: none;
}


.title-text{
	gap: 8px;
	font-size: 22px;
	font-family: inter;
	font-weight: 600;
	line-height: 32px;
	color: var(--text-active);
}


.sub-text {
	font-size: 14px;
	font-family: inter;
	padding:4px 0px;
}

.color-text {
	font-size: 14px;
	font-style:oblique;
}

.color-start {
	padding-top: 20px;
}

/* color classes | highlighting text*/
.primary {
	color: var(--color-primary);
}
.warning {
	color: var(--color-warning);
}

.error {
	color: var(--color-error);
}

.box-primary {
	background-color: var(--color-primary);
}

.box-warning {
	background-color: var(--color-warning);
}

.box-error {
	background-color: var(--color-error);
}

.category-box {
	width: 2rem;
	height: 2rem;
	border-radius: 8px;
}

.tweak-grid {
	display: grid;
	gap: 16px;

	grid-template-rows: 222px;
	grid-template-columns: repeat(auto-fit, minmax(438px, 1fr));
}

.disabled {
	pointer-events: none;
}
