@import "tailwindcss";
@import "./palette.css";
@import "./sidebar.css";

.base {
	background-color: var(--bg-base);

	display: flex;
	overflow: hidden;

	width: 100vw;
	height: 100vh;
}

.sidebar {
	background-color:var(--bg-sidebar); 

	flex: 0 0 17.5rem;
	display: flex;

	flex-direction: column;

	width: 17.5rem;
	height: 100vh;
}

.sidebar> *:last-child {
	margin-top: auto;	
	margin-bottom: 1.5rem;
}

.contents {
	background-color: var(--bg-page);
	display: block;
	flex: 1;
	
	border: 1px solid var(--bg-page-border);
	border-radius: 32px;
	margin: 1.25rem 1.25rem 1.25rem 0; 
}

